## Pandas Dataframe & Data Manipulations

In [1]:
import numpy as np
import pandas as pd
import random
import string

In [4]:
#Create a dictionary containing ....
scores_dict = {
    'id': [''.join(random.choices(
        string.ascii_uppercase + string.digits, k=5)
                 ) for _ in range(30)],
    'roll': np.arange(30) + 1,
    'math_scores': np.random.randint(100, size=(30)),
    'physics_scores': np.random.randint(100, size=(30)),
    'chemistry_scores': np.random.randint(100, size=(30))
}

print(scores_dict)

{'id': ['5D510', 'FHN1M', '2OSBH', 'QWQ6Y', 'I00K1', '4B69A', 'UUWBM', '1TBK7', 'Q1ZW1', '8T4K5', 'VIZIU', 'REB40', 'CGONW', '0QSHX', 'OQPBD', 'W5PV5', 'RZL91', 'DMMP8', 'TI84S', 'DJW62', 'UCAQ7', 'LMPYG', 'M20Q9', 'J720P', 'ABYLR', 'BHJ7P', 'USK12', '119U3', '0JZN1', 'X9BI8'], 'roll': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]), 'math_scores': array([49,  5, 64,  6, 42, 78, 97, 75, 35, 46, 75, 74, 38, 88, 51, 92, 91,
       28, 60, 68,  4, 18, 65, 65, 50, 77, 98, 79, 64, 65]), 'physics_scores': array([61, 18, 53,  8, 72, 70, 81, 53,  7, 92, 90, 60,  7, 48, 11, 94, 91,
       18,  7, 96, 52, 39, 17, 59, 23, 99,  0, 85, 18, 93]), 'chemistry_scores': array([27,  3, 33, 13, 69, 32,  1, 70, 78, 14, 39, 40, 51, 95, 75, 18, 63,
       29, 73, 46, 30, 39, 42, 68, 99, 30, 13, 68,  6, 57])}

In [7]:
#creating Data frame
df=pd.DataFrame(scores_dict)
df.head()

      id  roll  math_scores  physics_scores  chemistry_scores
0  5D510     1           49              61                27
1  FHN1M     2            5              18                 3
2  2OSBH     3           64              53                33
3  QWQ6Y     4            6               8                13
4  I00K1     5           42              72                69

In [49]:
df=df.set_index('id')###blahahah so need to assign to keep the changes !!
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 5D510 to X9BI8
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   roll              30 non-null     int64
 1   math_scores       30 non-null     int64
 2   physics_scores    30 non-null     int64
 3   chemistry_scores  30 non-null     int64
dtypes: int64(4)
memory usage: 1.2+ KB

In [9]:
#convert to 2d arrays
df.values

array([['5D510', 1, 49, 61, 27],
       ['FHN1M', 2, 5, 18, 3],
       ['2OSBH', 3, 64, 53, 33],
       ['QWQ6Y', 4, 6, 8, 13],
       ['I00K1', 5, 42, 72, 69],
       ['4B69A', 6, 78, 70, 32],
       ['UUWBM', 7, 97, 81, 1],
       ['1TBK7', 8, 75, 53, 70],
       ['Q1ZW1', 9, 35, 7, 78],
       ['8T4K5', 10, 46, 92, 14],
       ['VIZIU', 11, 75, 90, 39],
       ['REB40', 12, 74, 60, 40],
       ['CGONW', 13, 38, 7, 51],
       ['0QSHX', 14, 88, 48, 95],
       ['OQPBD', 15, 51, 11, 75],
       ['W5PV5', 16, 92, 94, 18],
       ['RZL91', 17, 91, 91, 63],
       ['DMMP8', 18, 28, 18, 29],
       ['TI84S', 19, 60, 7, 73],
       ['DJW62', 20, 68, 96, 46],
       ['UCAQ7', 21, 4, 52, 30],
       ['LMPYG', 22, 18, 39, 39],
       ['M20Q9', 23, 65, 17, 42],
       ['J720P', 24, 65, 59, 68],
       ['ABYLR', 25, 50, 23, 99],
       ['BHJ7P', 26, 77, 99, 30],
       ['USK12', 27, 98, 0, 13],
       ['119U3', 28, 79, 85, 68],
       ['0JZN1', 29, 64, 18, 6],
       ['X9BI8', 30, 65, 93, 57]], dtype=object)

Indexes iloc,loc

In [11]:
df.iloc[1]

id                  FHN1M
roll                    2
math_scores             5
physics_scores         18
chemistry_scores        3
Name: 1, dtype: object

In [19]:
df.iloc[:5,-2:]#first 5 rows and last 2 columns

   physics_scores  chemistry_scores
0              61                27
1              18                 3
2              53                33
3               8                13
4              72                69

In [22]:
df.loc[0,'physics_scores']

61

In [46]:
df.loc['5D510':,'physics_scores']

Series([], Name: physics_scores, dtype: int64)

In [27]:
df.head()

      id  roll  math_scores  physics_scores  chemistry_scores
0  5D510     1           49              61                27
1  FHN1M     2            5              18                 3
2  2OSBH     3           64              53                33
3  QWQ6Y     4            6               8                13
4  I00K1     5           42              72                69

In [52]:
print(df.loc['5D510':,:])
#give me first rows for all the columns #index problems

       roll  math_scores  physics_scores  chemistry_scores
id
5D510     1           49              61                27
FHN1M     2            5              18                 3
2OSBH     3           64              53                33
QWQ6Y     4            6               8                13
I00K1     5           42              72                69
4B69A     6           78              70                32
UUWBM     7           97              81                 1
1TBK7     8           75              53                70
Q1ZW1     9           35               7                78
8T4K5    10           46              92                14
VIZIU    11           75              90                39
REB40    12           74              60                40
CGONW    13           38               7                51
0QSHX    14           88              48                95
OQPBD    15           51              11                75
W5PV5    16           92              94                18
RZL91    17           91              91                63
DMMP8    18           28              18                29
TI84S    19           60               7                73
DJW62    20           68              96                46
UCAQ7    21            4              52                30
LMPYG    22           18              39                39
M20Q9    23           65              17                42
J720P    24           65              59                68
ABYLR    25           50              23                99
BHJ7P    26           77              99                30
USK12    27           98               0                13
119U3    28           79              85                68
0JZN1    29           64              18                 6
X9BI8    30           65              93                57

In [61]:
df.loc[:'4B69A','physics_scores':]
#Give me rows until 4b69a and columns after physics_score#unlike indices labels are inclusive

       physics_scores  chemistry_scores
id
5D510              61                27
FHN1M              18                 3
2OSBH              53                33
QWQ6Y               8                13
I00K1              72                69
4B69A              70                32